name: Home Backup

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-*"

permissions:
  contents: read
  packages: write

jobs:
  container-image:
    uses: balutoiu/gha-utils/.github/workflows/docker-buildx.yaml@dev
    with:
      image_name: home-backup
      context: .
      platforms: linux/amd64, linux/arm64
    secrets: inherit
